-
  const programs = [
    {
      position: 'Оператор',
      text: 'Слушатели узнают, принцип работы обслуживаемых станков, правила управления ими, назначение условных знаков на панели управления, правила чтения чертежей, освоят систему допусков и посадок.',
      header: 'После окончания курсов операторов станков с ЧПУ выпускники смогут:',
      list: [
        'читать техническое задание,',
        'контролировать работу систем обслуживания станка,',
        'вводить программы для изготовления деталей,',
        'проверять качество готовой продукции,',
        'установить и снять изделие после обработки.'
      ],
      prices: [
        '12 000',
        '25 000',
        '37 000'
      ]
    },
    {
      position: 'Наладчик',
      text: 'Слушатели узнают, как устроено металлорежущее оборудование и установленные на нем программы, научатся диагностировать состояние разных типов станков, ремонтировать их и настраивать для конкретных производственных задач.',
      header: 'После окончания курсов наладчиков станков с ЧПУ выпускники смогут:',
      list: [
        'выявлять неисправности станков,',
        'устранять программные ошибки,',
        'проверять работу в мануальном режиме,',
        'проводить пусконаладку оборудования.'
      ],
      prices: [
        '12 000',
        '25 000',
        '45 000'
      ]
    },
    {
      position: 'Оператор-наладчик',
      text: 'Комплексная программа. Слушатели разберутся в работе различных типов станков, смогут проверить качество производимой продукции, провести диагностику оборудования и устранить типичные неисправности и ошибки программы.',
      header: 'После окончания курсов выпускники смогут:',
      list: [
        'сориентироваться в типах станков,',
        'проверить исправность оборудования,',
        'написать программу для изготовления детали,',
        'устранить типичные ошибки в работе техники.'
      ],
      prices: [
        '12 000',
        '25 000',
        '45 000'
      ]
    }
  ]

  const nearest = [
    { label: 'Повышение разряда', date: '1 июля 2017 года' },
    { label: 'Повышение квалификации', date: '5 июля 2017 года' },
    { label: 'Подготовка/Переподготовка', date: '10 июля 2017 года' }
  ]

.programs#programs
  .container
    h2.programs__header Программы обучения на станках с ЧПУ
    .programs-tabs-block.tabs-block
      .programs-tabs-controls.tabs-controls
        each item in programs
          .programs-tabs__control.tabs__control= item.position
      each item in programs
        .programs-tabs__content.tabs__content
          p.programs__text= item.text
          p.programs__header_small= item.header
          ul.programs-list
            each value in item.list
              li.programs-list__item= value
          table.programs-table
            thead
              tr
                td Категория курса
                td Описание
                td Кол-во часов
                td Цена, руб
            tbody
              tr
                td= nearest[0].label
                td Получение нового квалификационного уровня для допуска к более сложной работе и ответственной должности
                td 16
                td= item.prices[0]
              tr
                td= nearest[1].label
                td Комплексное обучение актуальным методам работы, техническим и правовым нововведениям
                td 72
                td= item.prices[1]
              tr
                td= nearest[2].label
                td Подготовка кадров для производственных предприятий с нуля или на базе полученного ранее образования
                td 120
                td= item.prices[2]
          p.programs__header_small(style='text-align:center;') Ближайшие занятия пройдут:
          .programs-items
            each item in nearest
              .programs__item
                p.programs__item-text= item.label
                p.programs__item-date= item.date
          a.programs__button.btn.a-btn-v(href="#callback")
            span Отправить заявку
// programs
